/**
 * @author Ben Siebert
 * @copyright 2018-2021 Ben Siebert. All rights reserved.
 */

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

/** Global Stuff */
* {
    font-family: 'Dela Gothic One', cursive;
}

body, html {
    padding: 0;
    margin: 0;
}

body {
    background: #00a5ff;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

a {
    color: black;
}

.middleArea {
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -60%);
}

.bottomArea {
    bottom: 0;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

#productName {
    text-align: center;
}

#shop {
    top: 0;
    left: 0;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background: #00a5ff;
    z-index: 4;
}

#addOne {
    color: #19ff3b;
}

#displays {
    position: relative;
    z-index: 5;
}

@media screen and (min-width: 800px) {
    .cookie {
        width: 50%;
        text-align: center;
        cursor: pointer;
    }

    .smallCookie {
        width: 15%;
        transform: translate(-10%, 38%);
    }

    #displays {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .middleArea {
        transform: translate(-50%, 40%);
    }
}

@media screen and (max-width: 800px){
    .cookie {
        width: 75%;
        text-align: center;
        cursor: pointer;
    }

    .smallCookie {
        width: 10%;
        transform: translate(-10%, 38%);
    }
}

.product {
    border-style: solid;
    border-radius: 6px;
    padding: 4px;
    background: #c61e6f;
}

/** Util Classes */

.center {
    text-align: center;
}

.hidden {
    display: none;
}

.visually-hidden {
    visibility: hidden;
}

/** Animations */

.animationShrink {
    animation-name: shrink;
    animation-duration: 0.3s;
    animation-fill-mode: both;
}

.animationRiseUp {
    animation-name: riseUp;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animationPopout {
    animation: popout 1s ease;
}

@media screen and (min-width: 800px) {
    @keyframes shrink {
        0% {
            width: 50%;
        }
        50% {
            width: 35%;
        }
        100% {
            width: 50%;
        }
    }
}

@media screen and (max-width: 800px) {
    @keyframes shrink {
        0% {
            width: 75%;
        }
        50% {
            width: 60%;
        }
        100% {
            width: 75%;
        }
    }
}

@keyframes riseUp {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes popout {
    from {
        transform: scale(0)
    }
    80% {
        transform: scale(1.2)
    }
    to {
        transform: scale(1)
    }
}
